.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}

.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}

.footer-links.inline li
{
  display:inline-block
}

@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }

}
/* login */
form {
  padding-top: 5%;
  padding-bottom: 5%;

}
.loginTxt {
  font-size: 50px;
  text-transform: capitalize;
  background-color: beige;
  text-align: center;
  padding: 10% 0;
}
.green{
  color: green;
  background-color: #f5faf5;
} 
.greenTxt{
  color: green;
  text-transform: capitalize;
} 
.label{
  font-size: 22px;
  display: block;
  text-transform: capitalize;
}
.title{
  text-align: center;
}
.field{
  width: inherit;
  border: none;
  border-bottom:1px solid rgb(191, 218, 179);
}
.input {
  width: 22em;
  padding: 1em;
}
.Form{
  display: flex;
  justify-content: center;
  margin: auto;
}
.button{
  margin-top: 1em;
  border: none;
  color: white;
  background-color:green ;
  border-radius: 3px;
  padding: 0.3em 0.5em;
}